.page {
    min-height: 100vh;
}


.page__title {
    margin-top: 0;
    margin-bottom: 0;
}
.page__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.page__column1 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo-img {
    display: block;
    margin: auto;
}

.form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #F2F6F8;
}

.textarea-description {
    display: block;
    padding: 1rem;
    background-color: inherit;
    width: 100%;
    border-radius: .5rem;
    resize: none;
    min-height: 8rem;
    border: 2px solid #3437d8;
    
}
.textarea-description:focus {
    outline: none;
}