.await-loading {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 202, 202, 0.131);
}